<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <title>MH Wilds Build Optimizer (Beta)</title>
    <link rel="icon" type="image/png" href="/static/favicon.png" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    {# OpenGraph tags #}
    <meta content="MH Wilds Build Optimizer (Beta)" property="og:title" />
    <meta content="A little tool made by @nenrikido on Discord to optimize builds based on weighted skills of your choosing !"
          property="og:description" />
    <meta content="https://mh-opti.nenri.fr/" property="og:url" />
    <meta content="https://mh-opti.nenri.fr/static/favicon.png" property="og:image" />
    <meta content="#a19423" data-react-helmet="true" name="theme-color" />
    <style>
        @media (max-width: 1000px) {
            #main-container {
                flex-wrap: wrap;
            }
        }

        @media (max-width: 1000px) {
            #main-container .container {
                max-height: initial !important;
            }
        }

        #nav-tabContent .card-body {
            border-top: 0;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            height: calc(100vh - 99px - 4rem);
            overflow: auto;
        }

        pre {
            overflow: initial;
        }
    </style>
</head>
<body>

<header class="p-2" style="height: 75px;">
    <h3 class="mb-0">
        MH Wilds Build Optimizer (Beta)
    </h3>
    from @nenrikido on discord
</header>

<form>
    <main class="d-flex flex-row justify-content-between" id="main-container">
        <div class="container p-3 overflow-auto" style="max-height: calc(100vh - 75px); min-width: 60vw">
            <a class="btn btn-secondary" data-bs-toggle="collapse" href="#collapse-info" role="button"
               aria-expanded="false"
               aria-controls="collapse-info">
                ⓘ Infos
            </a>
            <div class="collapse" id="collapse-info">
                <div class="card card-body">
                    How to use :
                    <ul>
                        <li>Type your desired skills, sets and weapons in the input boxes (autocomplete available)</li>
                        <li>Choose your max amount of skill points and the weight of each skill, and the min amount of
                            pieces
                            from each set
                        </li>
                        <li>In the "Filters" tab, you can choose the amulets you have in your box</li>
                        <li>Click on "Optimize" and wait for the results</li>
                    </ul>
                    Notes :
                    <ul>
                        <li>Data is up to date with TU4 (Gogmazios)</li>
                        <li>Yes the default values are for LS, yes i'm a weeb</li>
                    </ul>
                    Features to come :
                    <ul>
                        <li>Skill & set templates</li>
                        <li>Armor pieces filters</li>
                        <li>Better design (I suck at design sry)</li>
                    </ul>
                </div>
            </div>
            <div class="mt-2">
                <h4>Skills</h4>
                <input id="skills-input" class="form-control mb-3" placeholder="Which skills do you want to have ?" />
                <div id="skills-badges" class="mb-3 d-flex flex-wrap gap-2"></div>

                <h4>Sets</h4>
                <input id="sets-input" class="form-control mb-3" placeholder="With which set(s) ?" />
                <div id="sets-badges" class="mb-3 d-flex flex-wrap gap-2"></div>

                <h4>Weapons</h4>
                <input id="weapons-input" class="form-control mb-3" placeholder="On which weapon(s) ?" />
                <div id="weapons-badges" class="mb-3 d-flex flex-wrap gap-2"></div>

                <h4>Number of Results (max: 20)</h4>
                <input type="number" class="form-control mb-3" name="N" value="5" max="20">

                <div class="form-check mb-3">
                    <input type="checkbox" class="form-check-input" id="include_all_amulets" name="include_all_amulets" checked>
                    <label class="form-check-label" for="include_all_amulets">Include all generated amulets from desired
                        skills
                        (unchecking this will include only farmable amulets and amulets chosen from the filters
                        tab)</label>
                </div>
                <div class="form-check mb-3">
                    <input type="checkbox" class="form-check-input" id="transcend" name="transcend">
                    <label class="form-check-label" for="transcend">Transcend all armors (this changes their decoration slots if their rarity is 5 or 6)</label>
                </div>
                <div class="form-check mb-3">
                    <input type="checkbox" class="form-check-input" id="include_gog_sets" name="include_gog_sets">
                    <label class="form-check-label" for="include_gog_sets">Include all possible sets on Gogmazios upgraded weapons</label>
                </div>
                <div class="d-flex gap-2">
                    <input id="submit-launch" type="submit" class="btn btn-success" value="Optimize">
                    <button id="save-configuration" type="button" class="btn btn-primary">Save Configuration</button>
                </div>
            </div>
        </div>

        <aside class="container p-3" style="min-width: 40vw">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <button class="nav-link active" id="nav-results-tab" data-bs-toggle="tab"
                            data-bs-target="#nav-results" type="button" role="tab" aria-controls="nav-results"
                            aria-selected="true">Results
                    </button>
                    <button class="nav-link" id="nav-filters-tab" data-bs-toggle="tab" data-bs-target="#nav-filters"
                            type="button" role="tab" aria-controls="nav-filters" aria-selected="false">Filters
                    </button>
                    <button class="nav-link" id="nav-templates-tab" data-bs-toggle="tab" data-bs-target="#nav-templates"
                            type="button" role="tab" aria-controls="nav-templates" aria-selected="false" disabled>
                        Templates (WIP)
                    </button>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane card card-body show active" id="nav-results" role="tabpanel"
                     aria-labelledby="nav-results-tab" tabindex="0">
                    <h4>Optimization Results</h4>
                    <div class="spinner-border" role="status" id="loader" style="display: none">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                    <div id="optimization-results"></div>
                </div>
                <div class="tab-pane card card-body" id="nav-filters" role="tabpanel" aria-labelledby="nav-filters-tab"
                     tabindex="0">
                    <h4>Amulets</h4>
                    <div id="amulet-badges" class="mb-3 d-flex flex-wrap gap-2"></div>
                    <input id="amulet-add" type="button" class="btn btn-secondary" value="+ Add an amulet">

                </div>
                <div class="tab-pane card card-body" id="nav-templates" role="tabpanel"
                     aria-labelledby="nav-templates-tab" tabindex="0"></div>
            </div>
        </aside>
    </main>
</form>

<div class="badge text-start bg-secondary d-flex gap-4 justify-content-between align-items-center w-100" id="amulet-badge-template"
     style="display: none !important;">
    <div class="d-flex flex-column w-75">
        <div class="input-group">
            <input
                    name="skill_name_1_amulet_"
                    class="form-control"
                    placeholder="Skill 1"
            />
            <input
                    class="form-control"
                    type="number"
                    name="skill_value_1_amulet_"
                    style="width:3em;flex: 0 1 auto;"
                    min="1"
                    max="4"
                    title="Skill value"
            />
            <button id="skill_remove_1_amulet_" type="button" class="btn btn-dark btn-outline-secondary px-2">🗙</button>
        </div>
        <div class="input-group">
            <input
                    name="skill_name_2_amulet_"
                    class="form-control"
                    placeholder="Skill 2"
            />
            <input
                    class="form-control"
                    type="number"
                    name="skill_value_2_amulet_"
                    style="width:3em;flex: 0 1 auto;"
                    min="1"
                    max="4"
                    title="Skill value"
            />
            <button id="skill_remove_2_amulet_" type="button" class="btn btn-dark btn-outline-secondary px-2">🗙</button>
        </div>
        <div class="input-group">
            <input
                    name="skill_name_3_amulet_"
                    class="form-control"
                    placeholder="Skill 3"
            />
            <input
                    class="form-control"
                    type="number"
                    name="skill_value_3_amulet_"
                    style="width:3em;flex: 0 1 auto;"
                    min="1"
                    max="4"
                    title="Skill value"
            />
            <button id="skill_remove_3_amulet_" type="button" class="btn btn-dark btn-outline-secondary px-2">🗙</button>
        </div>
    </div>
    <div class="input-group w-auto">
        <select class="form-select" aria-label="Slots" name="slots_amulet_">
            <option selected>Slots</option>
            <option value="1-0-0">1-0-0</option>
            <option value="1-1-0">1-1-0</option>
            <option value="2-0-0">2-0-0</option>
            <option value="2-1-0">2-1-0</option>
            <option value="3-0-0">3-0-0</option>
            <option value="W1-0-0">W1-0-0</option>
            <option value="W1-1-0">W1-1-0</option>
            <option value="W1-1-1">W1-1-1</option>
        </select>
        <button id="slots_remove_amulet_" type="button" class="btn btn-dark btn-outline-secondary px-2">🗙</button>
    </div>
    <button type="button" class="btn-close btn-close-white close-amulet-badge" aria-label="Remove"></button>
</div>

</body>
<script>
    const availableSkillsData = {{ available_skills | tojson}};
    const skillsData = [...availableSkillsData]
    const availableSetsData = {{ available_sets | tojson}};
    const availableWeaponsData = {{ available_weapons | tojson}};
    const runUrl = {{ url_for('run_optimization') | tojson }};
</script>
<script type="module" src="/static/main.js"></script>
</html>
