<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <title>MH Wilds Build Optimizer (Beta)</title>
    <link rel="icon" type="image/png" href="/static/favicon.png"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    {# OpenGraph tags #}
    <meta content="MH Wilds Build Optimizer (Beta)" property="og:title" />
    <meta content="A little tool made by @nenrikido on Discord to optimize builds based on weighted skills of your choosing !" property="og:description" />
    <meta content="https://mh-opti.nenri.fr/" property="og:url" />
    <meta content="https://mh-opti.nenri.fr/static/favicon.png" property="og:image" />
    <meta content="#a19423" data-react-helmet="true" name="theme-color" />
</head>
<body>

<header class="p-2" style="height: 75px;">
    <h3 class="mb-0">
        MH Wilds Build Optimizer (Beta)
    </h3>
    from @nenrikido on discord
</header>

<div class="d-flex flex-row justify-content-between">
    <div class="container p-3 overflow-auto" style="max-height: calc(100vh - 75px)">
        <a class="btn btn-secondary" data-bs-toggle="collapse" href="#collapse-info" role="button" aria-expanded="false"
           aria-controls="collapse-info">
            ⓘ Infos
        </a>
        <div class="collapse" id="collapse-info">
            <div class="card card-body">
                How to use :
                <ul>
                    <li>Type your desired skills, sets and weapons in the input boxes (autocomplete available)</li>
                    <li>Choose your max amount of skill points and the weight of each skill, and the min amount of
                        pieces
                        from each set
                    </li>
                    <li>Click on "Optimize" and wait for the results</li>
                </ul>
                Notes :
                <ul>
                    <li>Data is up to date with TU3 (Omega Planetes)</li>
                    <li>Yes the default values are for LS, yes i'm a weeb</li>
                </ul>
                Features to come :
                <ul>
                    <li>Amulet selector (from findable random amulets)</li>
                    <li>Armor pieces filters</li>
                    <li>Skill & set templates</li>
                    <li>Better design (I suck at design sry)</li>
                </ul>
            </div>
        </div>
        <div class="mt-2">
            <form method="post">
                <h4>Skills</h4>
                <input id="skills-input" class="form-control mb-3" placeholder="Which skills do you want to have ?" />
                <div id="skills-badges" class="mb-3 d-flex flex-wrap"></div>

                <h4>Sets</h4>
                <input id="sets-input" class="form-control mb-3" placeholder="With which set(s) ?" />
                <div id="sets-badges" class="mb-3 d-flex flex-wrap"></div>

                <h4>Weapons</h4>
                <input id="weapons-input" class="form-control mb-3" placeholder="On which weapon(s) ?" />
                <div id="weapons-badges" class="mb-3 d-flex flex-wrap"></div>

                <h4>Number of Results (max: 20)</h4>
                <input type="number" class="form-control mb-3" name="N" value="5" max="20">

                <div class="form-check mb-3">
                    <input type="checkbox" class="form-check-input" id="include_all_amulets" name="include_all_amulets"
                           checked>
                    <label class="form-check-label" for="include_all_amulets">Include all generated amulets from desired
                        skills
                        (unchecking this will include only farmable amulets)</label>
                </div>
                <input id="submit-launch" type="submit" class="btn btn-success" value="Optimize">
            </form>
        </div>
    </div>

    <div class="container p-3 overflow-auto" style="max-height: calc(100vh - 75px)">
        <h4>Optimization Results</h4>
        <div class="spinner-border" role="status" id="loader" style="display: none">
          <span class="visually-hidden">Loading...</span>
        </div>
        <div id="optimization-results"></div>
    </div>

</div>

</body>
<script>
    const skillsData = {{ available_skills | tojson}};
    const setsData = {{ available_sets | tojson}};
    const weaponsData = {{ available_weapons | tojson}};
    const runUrl = {{ url_for('run_optimization') | tojson }};
</script>
<script type="module" src="/static/main.js"></script>
</html>
